@font-face {
  font-family: "BBH Sans Bogle";
  src: url("../assets/fonts/BBHSansBogle.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

$font-title: "BBH Sans Bogle", sans-serif;
