@import "./variables";
@import "./mixins";
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  @include flex-center;
  font-family: $font-primary,$font-title;
  color: $text-color;
  background-color: $bg-color;
  line-height: 1.6;
  width: 100%;
}
